<%- include("../partials/header") %>

<div class="container">
		<div class="container form1">
			<div class="header">
				Update Campground <%= camp.name%>
			</div> 
			<br>
			<form action="/campground/<%= camp._id%>?_method=PUT" method="POST">
				
				<div class="form-group form-group-lg">
					<label for="t">Title</label>
					<input id="t" class="form-control" type="text" placeholder="name" name="campground[name]" value="<%=camp.name%>" required>
				</div>
				<div class="form-group form-group-lg">
					<label for="p">Price</label>
					<input id="p" class="form-control" type="number"  name="campground[price]" value="<%=camp.price%>" min="0.01" step="0.01" required>
				</div>
		 		<div class="form-group form-group-lg">
					<label for="i">Image Url</label>
					<input id="i" class="form-control" type="text" placeholder="image url" name="campground[image]" value="<%=camp.image%>" required>
				</div>
				<div class="form-group form-group-lg">
					<label for="d">Description</label>
					<input id="d" class="form-control" type="text" placeholder="description" name="campground[description]" value="<%=camp.description%>" required>
				</div>
				<div class="form-group form-group-lg">
					<button class="btn btn-default btn-lg btn-block btn-success" type="submit">
						Update
					</button>
				</div>
		
			</form>
			<a href="/campground" class="pull-right">Go back</a>
		</div>
		

</div>
	


<%- include("../partials/footer1") %>