<%- include("../partials/header") %>
<div class="container">
	<header class="jumbotron">
	<div class="container">
		<h1>
			Welcome To Yelpcamp
		</h1>
		<p>
			View our hand-picked campgrounds from all over the india.
		</p>
		<p>
			<a class="btn btn-primary btn-lg" href="/campground/new">Add New Campground</a>
		</p>
	</div>
	
</header>
	<!-- style="display:flex; flex-wrap:wrap;" for image resizing -->
	<div class="row text-center" style="display:flex; flex-wrap:wrap;" >
		<% camps.forEach(function(camp){ %>
		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img src="<%= camp.image %>">
				<div class="caption">
					<h4>
						<%= camp.name %>
					</h4>
					<p>
						<a href="/campground/<%= camp._id %>" class="btn btn-primary">
							More Info
						</a>
					</p>
				</div>
			</div>
		</div>
		<% }); %>
	</div>
	
</div>
<%- include("../partials/footer"); %>